main{
    padding: 0;
    margin: 0;
}
.arriba {
    display: flex;
}
.logotipo {
    height: 200px;
    width: 350px;
}

.perfil {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.myList {
    display: flex;
    gap: 30px;
}
.head{
    width: 100%;
    background-color: purple;
    position: fixed
}
.contenedor {
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
}