body{
    background-color: #EAF4F4;
}
.container{
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}